<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <configSections>
    
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoSwitcher.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <userSettings>
    <AutoSwitcher.Properties.Settings>
      <setting name="ExceptionWindows" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>KeyboardLed</string>
          </ArrayOfString>
        </value>
      </setting>
    </AutoSwitcher.Properties.Settings>
  </userSettings>
  
  <log4net>
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="false" />
      <LockingModel type="log4net.Appender.FileAppender+MinimalLock, log4net" />
      <datePattern value="yyyyMMdd-HH:mm:ss" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %p %m%n" />
      </layout>
    </appender>
  </log4net>

</configuration>